.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 100%;
}

/* Navigation */
.nav {
  background-color: #121212;
  color: #fff;
  margin: 0 auto 0 auto;
  position: relative;
  left: 0;
  bottom: 0;
  top: 0;
  width: 380px;
  z-index: 99999;
}

.nav img {
  border-radius: 30px;
  max-width: 50px;
  max-width: 50px;
}

@media (max-width: 1000px) {

  .nav {
    position: relative;
    bottom: auto;
    left: auto;
    top: auto;
    width: 100%;
    z-index: 10001;
  }
  
}
