#root {
  height: 100%;
}

.App {
  text-align: center;
  /* display: flex;
  flex-direction: row;
  height: 100%; */
}

/* Navigation - NEW */


/* Navigation - OLD 
.nav {
  background-color: #121212;
  font-family: 'Source Serif Pro', serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
*/

.nav img {
  border-radius: 30px;
  max-width: 50px;
  max-height: 50px;
}

@media (max-width: 1000px) {

  .nav {
    position: relative;
    bottom: auto;
    left: auto;
    top: auto;
    width: 100%;
    z-index: 10001;
  }
  
}
